* {
    font-family: "Open Sans";
}

span {
    background-color: rgb(35, 228, 125);
    color: white;
    border-radius: 3px;
    padding: 1px 10px 1px 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100vw;
}

tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

tr {
    line-height: 50px;
    border-bottom: solid 1px rgb(217, 216, 216);
}

th {
    text-align: left;
}

.dispo {
    background-color: rgb(35, 228, 125);
    color: white;
    border-radius: 3px;
    padding: 1px 10px 1px 10px;
    text-align: center;
}

.res {
    background-color: rgb(240,80,110);
    color: white;
    border-radius: 3px;
    padding: 1px 10px 1px 10px;
    text-align: center;
}